@model MovieStudioDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Studio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Studio.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Studio.Location)
        </dd>
    </dl>
</div>
<h2>Borrowed movies:</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.PhysicalCopy)
            </th>
            <th>
                Return Date
                @* @Html.DisplayNameFor(model => model.Movie.Name) *@
            </th>
            <th>
                Returned
                @* @Html.DisplayNameFor(model => model.Movie.Name) *@
            </th>
            <th>
                Return status
            </th>
            <th>
                Return movie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JoinedList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicalCopy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Returned)
            </td>
            <td>
                @if (item.Returned == false && item.ReturnDate <= DateTime.Now)
                {
                    <p>Late</p>
                }
                else if (item.Returned == false && item.ReturnDate >= DateTime.Now)
                {
                    <p>Still time left</p>
                }
                else if (item.Returned == true)
                {
                    <p>Returned</p>
                }
            </td>
            <td>
                <a asp-controller="MovieStudioControllerView" asp-action="Edit" asp-route-id="@item.MovieStudioId">@item.MovieStudioId</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Studio.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
